@import "./src/style/_vars.scss";

.landing{
  a {
    padding: 1em;
    font-family: $font-secondary;
    color: $color-primary;
    font-size: 20px;
    float:left;
    margin-left: 1em;
    width: calc(90%/3);
  }
}
