@import "./src/style/_vars.scss";

body {
  background-color: $color-secondary;
}
.main-page {
  text-align: center;
  float:left;
  width: 100%;
  padding: 3em;
}

.nav-bar {
  margin-bottom: 5em;
  a {
    padding: 1em;
    float: left;
    width: calc(100% / 3);
    color: $color-primary;
  }
}

.description {
  color: $color-primary;
  margin-bottom: 2em;
}
.logo {
  padding: 1em;
  h1 {
    color: $color-primary;
  }
}

.main-content {
}
